body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightsteelblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 50px auto;
}

#btn-container {
  display: flex;
  width: 600px;
  justify-content: space-evenly
}

button {
  font-size: medium;
  padding: 4px 8px;
  border: 3px solid black ;
  border-radius: 10px;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  background-color: lightyellow;
  border: 5px solid lightgrey;
}

.cell {
  border: 1px solid lightgray; 
  flex-grow: 1;
}

.hovered {
  background-color: lightcoral;
}