body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: azure;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 30px auto;
}

button {
  font-size: medium;
  padding: 4px 8px;
  border-radius: 10px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  background-color: lightyellow;
}

.cell {
  border: 1px solid lightgray; 
  flex-grow: 1;
}

.hovered {
  background-color: lightcoral;
}